@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/Inter-roman-latin.var.woff2) format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset tremor font-family */
:root {
  --tr-font-family: 'Inter var' !important;
  --primary-color: #27f795;
  --secondary-color: #25283d;
  --primary-dark-color: #008060;
  --text-color: #25283d;
  --text-01-color: #636679;
  --text-02-color: #a5a7b4;
  --text-error-color: #de1616;
  --neutral-00-color: #ffffff;
  --text-inverse-color: var(--neutral-00-color);
  --background-01-color: #f6f7f9;
  --background-02-color: #e8e9ed;
  --background-dark-color: #25283d;
  --border-01-color: #e8e9ed;
  --border-02-color: #cbccd1;
  --border-03-color: #636679;
  --workspace-enterprise-color: #ff0060;
  --font-family-sans: 'Inter', 'Inter', 'Arial', 'Helvetica', 'sans-serif';
  --font-family-mono: var(--font-family-iawriter);
  --font-body: 400 14px / 20px var(--font-family-sans);
  --font-code: 400 14px / 20px var(--font-family-mono);
  --font-caption: 400 12px / 16px var(--font-family-sans);
  --font-caption-code: 400 12px / 16px var(--font-family-mono);
  --icon-color: var(--secondary-color);
  --icon-brand-color: var(--primary-color);
  --neutral-04-color: #f6f7f9;
  --neutral-12-color: #e8e9ed;
  --neutral-24-color: #cbccd1;
  --neutral-40-color: #a5a7b4;
  --neutral-64-color: #636679;
  --neutral-100-color: #25283d;
  --primary-color: #27f795;
  --primary-light-color: #ebfef5;
  --primary-dark-color: #168350;
  --error-color: #de1616;
  --error-dark-color: #de1616;
  --error-light-color: #fdecec;
  --alternative-color: #2d27f7;
  --alternative-code-color: #00c1ff;
  --alternative-light-color: #e0efff;
  --alternative-dark-color: #1170d9;
  --information-light-color: var(--alternative-light-color);
  --information-dark-color: var(--alternative-dark-color);
  --secondary-color: #25283d;
  --secondary-light-color: #a5a7b4;
  --secondary-dark-color: #161724;
  --background-01-color: #f6f7f9;
  --background-02-color: #e8e9ed;
  --background-color: var(--neutral-00-color);
  --background-dark-color: #25283d;
  --background-brand-light-color: #ebfef5;
  --background-brand-color: #27f795;
  --background-brand-dark-color: #27f795;
  --border-01-color: #e8e9ed;
  --border-02-color: #cbccd1;
  --border-03-color: #636679;
  --border-inverse-color: #fff;
  --border-brand-color: #27f795;
  --border-brand-dark-color: #168350;
  --border-error-color: #de1616;
  --text-01-color: #636679;
  --text-02-color: #a5a7b4;
  --text-03-color: #a5a7b4;
  --text-color: #25283d;
  --text-inverse-color: #fff;
  --text-brand-color: #27f795;
  --text-brand-dark-color: #168350;
  --text-blue-color: #2d27f7;
  --text-error-color: #de1616;
  --icon-01-color: #636679;
  --icon-02-color: #a5a7b4;
  --icon-03-color: #a5a7b4;
  --icon-color: #25283d;
  --icon-inverse-color: #fff;
  --icon-brand-color: #27f795;
  --icon-brand-dark-color: #168350;
  --icon-error-color: #de1616;
  --warning-light-color: #fffbd6;
  --warning-dark-color: #856100;
  --quarantine-light-color: #fef5f1;
  --quarantine-dark-color: #f9844a;
  --information-light-color: #e0efff;
  --font-caption-code: 400 12px / 16px var(--font-family-mono);
  --font-body: 400 14px / 20px var(--font-family-sans);
  --font-bodysemibold: 600 14px / 20px var(--font-family-sans);
  --font-code: 400 14px / 20px var(--font-family-mono);
  --font-displayxsmall: 600 18px / 24px var(--font-family-sans);
}

.arrow {
  clip-path: polygon(50% 50%, 0 0, 100% 0);
  left: 50%;
  transform: translate(-50%, -50%);
}

button[role='tab']:not([data-state='active']) > .arrow {
  display: none;
}

.masonry-with-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1000px;
}

.ant-picker-active-bar {
  background: transparent !important;
}

.ant-picker-range-separator {
  padding-left: 0px !important;
  padding-right: 16px !important;
}

.ant-picker-separator {
  display: inline-flex;
  color: #cbccd1;
}

.ant-picker-input > input {
  outline: none;
  max-width: 100px;
}
