NEXT_PUBLIC_TINYBIRD_DASHBOARD_URL=XXX
NEXT_PUBLIC_TINYBIRD_TRACKER_TOKEN=XXX
NEXT_PUBLIC_TINYBIRD_AUTH_TOKEN=XXX
NEXT_PUBLIC_TINYBIRD_HOST=https://api.tinybird.co

NEXT_PUBLIC_APP_BASE_URL='http://localhost:3000'

